/*
Template Name: Shop On
File: Layout CSS
Author: TemplatesOnWeb
Author URI: https://www.templateonweb.com/
Licence: <a href="https://www.templateonweb.com/license">Website Template Licence</a>
*/
/*********************checkout****************/
#checkout{
padding-top:40px;
padding-bottom:40px; 
 }
.checkout_1l1 .form-control{
 background:#f4f4f4;
 border:none;
 box-shadow:none;
 height:50px;
 margin-top:15px;
 border-radius:0;
 font-size:16px;
 }
.checkout_1r .hr_1 {
    border-color: #3665f3;
    width: 15%;
    border-width: 2px;
    margin-left: 0;
}
.checkout_1r p span {
margin-left:5px;
}
.checkout_1r .button {
display:block;
text-align:center;
}
.checkout_1r, .checkout_1l{
border:1px solid #eee;
padding:25px 15px 30px 15px; 
}
 /* *************** new code *******************/
 .address .address_l{
    width: 100%;
    border: 1px solid #999;
    padding: 5px 15px 10px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .address .address_l span{
    padding-top: 5px;
    display: block;
    font-size: 15px;
  }

  .address .address_l a{
    color: #3665f3;
  }
  
  .address .add_address {
    width: 100%;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  
  .address .active {
    border: 1px solid #3665f3;
  }
   
  .address label span {
    margin-left: 15px;
  }
  
  .opacity-60{
    color: #999;
  }

  .payment{
    border: 1px solid #999;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
 }

 .active {
     border: 1px solid #3665f3;
 }

 .img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.online_payment{
    display: none;
}

.separator {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-top: 30px;
}
.py-4{
    margin-top: 25px;
}
.mb-3{
    margin-bottom: 15px;
}
.wallet{
    color: black;
    font-weight: bold;
}

.btn-wallet{
    background:#007bff;
    display:inline-block;
    color:#fff;
    padding:10px 25px!important;
    border:1px solid #007bff;
}
.btn-wallet:hover{
    background:#0466ce!important;
      }

  .check_lm h4{
    margin-bottom: 10px;
  }

/*********************checkout_end****************/

@media screen and (max-width : 767px){
#checkout{
text-align:center;  
 }
.checkout_1r {
margin-top:15px; 
 }
.checkout_1r .hr_1{
margin-left:auto; 
 }
.checkout_1r h5{
text-align:left;
 }
}

@media (min-width:768px) and (max-width:991px) {

 }
@media (min-width:992px) and (max-width:1200px) {

 }
@media (min-width:1201px) and (max-width:1350px) {

 }




