/*
Template Name: Shop On
File: Layout CSS
Author: TemplatesOnWeb
Author URI: https://www.templateonweb.com/
Licence: <a href="https://www.templateonweb.com/license">Website Template Licence</a>
*/

/*********************detail****************/
#product{
padding-top:40px;
padding-bottom:40px; 
 }
.product_1l h4{
border-bottom:1px solid #eee;
padding-bottom:15px; 
 }
.product_1l{
background: #fbf2e8;
padding:25px 15px 30px 15px; 
 }
.product_1li img{
float:left;
margin-right:20px; 
 }
.product_1li span{
color:#3665f3;
margin-top:10px;
display:block;
 }
.product_1li h5{
line-height:1.3em;
 }
.product_1li{
margin-top:15px;
border-bottom:1px solid #eee;
padding-bottom:15px; 
 }
.product_1l{
margin-top:20px; 
 }
 
/* Main carousel style */
.center_detail .carousel {
    width: 100%;
}
.center_detail_2_left {
  margin-top:15px; 
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
   }
.war-title{
  color: #FF0000;
  font-size: 14px;
}
.war-video{
  color: #000;
  font-size: 14px;
}
.war-content{
  font-size: 14px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: -110px;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 80px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width:22.5%;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 100px;
    left: 0;
    width:100%;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 3px solid #3665f3;
    opacity: 0.7;
}

.mag img {
    max-width: 80%;
    max-height: 80%;
}
.magnify {
    position: relative;
    cursor: none
}
.magnify-large {
	position: absolute;
	display: none;
	width: 175px;
	height: 175px;
	-webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%
}  
.center_detail_2_right_inner h3{
color:#000; 
margin-top:0;
  } 
.center_detail_2_right_inner h4{
margin-top:10px;
color:#000;
font-size:20px;
  }
.center_detail_2_right_inner .reviewed a{
    color:#3665f3;
      }
.center_detail_2_right_inner h4 a{
 color:#000; 
  }
.center_detail_2_right_inner h4 a:hover{
 color:#3665f3;
  }  
.center_detail_2_right_inner h5{
margin-top:10px;
font-size:18px;
color:#000;
line-height:1.4em;
  }
.center_detail_2_right_inner h5 span{
color:#000;
margin-right:10px;
font-weight:bold;
  }
.center_detail_2_right_inner h5 a{
color:#666;
  }
.center_detail_2_right_inner h5 a:hover{
color:#3665f3;
  }
.center_detail_2_right_inner h2{
color:#3665f3;
margin-top:10px;
  }
.center_detail_2_right_inner p{
margin-top:10px;
  }
.center_detail_2_right_inner h6{
margin-top:10px;
font-size:18px;
color:#3665f3;
margin-bottom:20px;
  }
.center_detail_2_right_inner .input-group{
 width:22%;
 float:left; 
 margin-right:10px;
  }
.center_detail_2_right_inner .heading_1{
  margin-top:26px;
  font-size:16px;
  }
.center_detail_2_right_inner .heading_1 a{
 background:#3665f3;
 color:#000;
 padding:6px 10px;
 border-radius:5px;
  }
.center_detail_2_right_inner .heading_1 a:hover{
  background:#3665f3;
  color:#fff;
  }
.center_detail_2_right_inner_1{
  margin-top:20px;
  }
.center_detail_2_right_inner_1 ul li{
  display:inline-block;
  }
.center_detail_2_right_inner_1 ul li a{
 color:#3665f3;
 margin-left:10px;
 margin-right:10px;
  }
/* .center_detail_2_right_inner_1 ul li a:hover{
 color:#fff;
  } */
.center_detail_2_right_inner_1 ul li a i{
 margin-right:5px; 
  }
.center_detail_2_right_inner_2{
 margin-top:20px; 
  }
.center_detail_2_right_inner_2 ul li a{
 color:#666;
 background:none;
  }
.center_detail_2_right_inner_2 ul li a:hover{
 color:#3665f3;
  background:none;
  }
.click{
 padding:15px;
 /* border:1px solid #ddd; */
 border-top:none; 
  }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
 color:#3665f3;
 font-weight:bold; 
  }
  
.click_inner h4{
 color:#000;
 font-weight:bold; 
  }
.click_inner p{
 color:#666;
 margin-top:10px; 
  }
.click_inner ul{
 margin-top:20px;
 list-style:disc;
 padding-left:20px; 
 color:#666;
  }
 .click_inner ul li{
margin-top:8px;
  }
.click_inner_1{
  border:1px solid #ddd;
  }
.click_inner_1_left{
  border-right:1px solid #ddd;
  padding-top:10px;
  padding-bottom:10px;
  }
.click_inner_1_right{
  padding-top:10px;
  padding-bottom:10px;
  }
.click_inner_1_left h4{
 font-weight:bold;
 color:#000;
 font-size:20px; 
 margin-top:0;
  }
.click_inner_1_right h5{
font-size:16px;
color:#666;
margin-top:0;
  }
  
.click_inner_2_right{
 border:1px solid #ddd;
 padding:20px; 
  }
  
.click_inner_2_right h4{
  color:#ffc400;
  font-size:16px;
  }
.click_inner_2_right h5{
  font-size:18px;
  margin-top:15px;
  color:#666;
  }
.click_inner_2_right h5 span{
  color:#000;
  font-weight:bold;
  }
.click_inner_3{
 margin-top:25px; 
  }
.click_inner_3 h4{
 color:#000;
 font-weight:bold;
  }
.click_inner_3 p{
 margin-top:5px; 
  }
.click_inner_3 h5{
 margin-top:25px; 
 font-size:18px;
  }
.click_inner_3 .form-control{
 margin-top:10px; 
 border-radius:0;
 font-size:18px;
  }
.click_inner_3 .para_1{
 margin-top:25px; 
  }
.click_inner_3 h3{
 color:#ffc400;
 margin-top:10px;
  }
.click_inner_3 .form_1{
  height:150px;
  }
  
.home_inner{
margin-top:30px; 
 }
.workout_1_in2 ul li{
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    font-size:16px; 
 }
.workout_1_in3 .bg  {
    background: #3665f3;
    display: inline-block;
    padding: 5px 15px 7px 15px;
    color:#fff;
    border-radius:20px;
}
.workout_1_in3 .bg1  {
    background:#FF0000;
    display: inline-block;
    padding: 5px 15px 7px 15px;
    color:#fff;
    border-radius:20px;
}
.workout_1_in3 .bg2  {
    background:#6699FF;
    display: inline-block;
    padding: 5px 15px 7px 15px;
	  color:#fff;
	  border-radius:20px;
}
.workout_1_inner{
position:relative; 
 }
.workout_1_in2{
position:absolute;
display:none;
width:100%;
background:#fff;
padding:10px;
 }
.workout_1_in3{
position:absolute;
top:20px;
right:20px; 
 }
.workout_1_inner:hover .workout_1_in2{
display:block;
bottom:68px;
 }
#product_list{
padding-top:40px;
padding-bottom:40px;
background: #fbf2e8; 
 }
 
 .pd_n ul li{
  width:30px;
  height:30px;
  border:1px solid #000;
  display:inline-block;
  margin-right:10px;
  cursor:pointer;
  text-align:center;
  line-height:35px;
  font-size:12px;
  }
  .pd_n_1 ul li{
    height:30px;
    border:1px solid #000;
    display:inline-block;
    margin-right:10px;
    cursor:pointer;
    text-align:center;
    line-height:30px;
    font-size:12px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
 .pd_n .bg_1{
  background:red;
  }
 .pd_n .bg_2{
  background:orange;
  }
 .pd_n .bg_3{
  background:none;
  }
 .pd_n .bg_4{
  background:pink;
  }
 .pd_n .bg_5{
  background:#000;
  }
 .pd_n .act{
 border:2px solid #FF5C00;
  }
 .pd_n .act_1{
 border:1px solid #FF5C00;
  }
  .pd_n_1 .act_1{
    border: 1px solid #FF5C00;
     }
 .pd_n .line{
 text-decoration:line-through;
  }
 .pd_n1 h4{
    display:inline-block;
    margin-right:10px; 
  }

.reviewed a {
    color: #FF5C00;
    font-size: 16px;
  }

.center_detail_2_right h5 .col_2 {
    color: #ddd;
    margin-right: 10px;
    text-decoration: line-through;
}

.btn-buy {
  background:#3665f3;
	margin-left: 10px!important;
	padding: 7px 10px;
  color: #fff!important;
  margin-top: 10px;
  border: 1px solid #3665f3;
}

.btn-buy:hover {
  background-color: #3665f3;
  color: #fff!important;
  margin-top: 10px;
  border: 1px solid #3665f3;
}

.print-size{
  cursor: pointer;
}

.delivery-title{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.delivery{
  border: 1px solid #ddd;
  padding: 10px 10px 20px 10px;
}
/*********************detail_end****************/


@media screen and (max-width : 767px){
#product{
text-align:center;
 }
#product .product_1li{
text-align:left; 
 }
.center_detail_2_left {
margin-top:15px; 
 }
.center_detail_2_right_inner {
margin-top:120px; 
 }
.center_detail_2_right_inner .input-group{
width:49%; 
 }
.click_inner_1_left{
border:none; 
 }
.click_inner_2_left {
 margin-bottom:10px;
 }
#product_list{
text-align:center; 
 }
.click_inner ul{
list-style:none;
padding-left:0; 
 }
}

@media (min-width:768px) and (max-width:991px) {
.article-slide .carousel-indicators li{
width:22%; 
 }
.center_detail_2_right_inner .input-group{
width:43%; 
 }
.click_inner_1_left h4{
font-size:10px; 
 }
.click_inner_1_left {
border-right:none; 
 }
.click_inner_2_left h1{
font-size:32px; 
 }
 }
@media (min-width:992px) and (max-width:1200px) {
.center_detail_2_right_inner .input-group{
width:32%; 
 }
.click_inner_1_left h4{
font-size:15px; 
 }
.click_inner_1_left {
border-right:none; 
 }
 }
@media (min-width:1201px) and (max-width:1350px) {

 }




