/*
Template Name: Shop On
File: Layout CSS
Author: TemplatesOnWeb
Author URI: https://www.templateonweb.com/
Licence: <a href="https://www.templateonweb.com/license">Website Template Licence</a>
*/
body{
/* font-family: 'Amaranth', sans-serif; */
font-family: Roboto,Helvetica,Tahoma,Arial,Microsoft YaHei;
line-height: 1.1;
   }
h1,h2,h3,h4,h5,h6{
padding:0;
margin:0;
color:#000; 
}
a{
 color:#000;
 }
a:hover{
text-decoration:none;
color:#3665f3;
}
a:focus{
text-decoration:none;
color:#3665f3;
}
ul{
padding:0;
margin:0;
list-style:none;
margin-top:15px;
}
li{
 font-size:14px;
  }
p{
padding:0;
margin:0;
font-size:14px;
margin-top:15px;
font-family: 'Alata', sans-serif;
line-height: 1.4;
}
h1{
font-size:41px;
margin-top:15px;
font-weight:bold;
}
h2{
font-size:34px;
margin-top:15px;
font-weight:bold;
}
h3{
font-size:28px;
margin-top:15px;
font-weight:bold;
}
h4{
font-size:20px;
margin-top:15px;
font-weight:bold;
}
h5{
font-size:14px;
margin-top:15px;
}
h6{
font-size:13px;
margin-top:15px;
}
.space_left{
padding-left:0; 
} 
.space_right{
padding-right:0;
} 
.space_all{
padding:0; 
} 
.iw{
width:100%;
}
.button{
	background:#3665f3;
	height: 33px;
	color: #fff;
	border: 2px solid #3665f3;
  }
.btn-addcart{
	background:#3665f3;
	margin-left:0!important;
	height: 33px;
	font-size:14px;
	color: #fff;
	border: 1px solid #3665f3;
}
.btn-addcart:hover{
	background: #3665f3;	 
	border: 1px solid #3665f3;
	color: #fff;
	}
#header .button:hover{
background:#3665f3;
color:#fff;
opacity:1;
  }

  .button:hover{
	background:#3665f3;
	color:#fff;
	opacity:1;
	  }

.border_none{
  border:none!important;
  }
.mgt{
  margin-top:0!important;
  }
.bold{
 font-weight:bold;
  }
.normal{
 font-weight:100!important;
  }
.navbar {
 min-height:auto; 
 margin-bottom:0;
 border:none;
 border-radius:0;
}
.col{
color:#fff;  
  }
.col_1{
 color:#FF5C00;
 }
.col_2{
 color:#999;
 }
.col_3{
 color:red;
 }
.pdb{
padding-bottom:0!important; 
 }
.border_top_none_1 {
    border-top: none!important;
}

/*********************top****************/
#top{
	border-bottom: 1px solid #eee;
	background-color: #fff;
	height: 35px;
	}
.top_1 ul li{
	font-size: 13px;
}
.top_1l h5 i{
	margin-right:5px;
	font-size:13px; 
 	}

.top_1l .nav .dropdown a {
	border-right: none;
 	}

.top_1l ul li{
	display:inline-block;
	border-right: none;
	}

.top_1l ul li i{
	margin-right:5px;
	font-size: 13px;
	}

.top_1r ul li{
	display: inline-block;
	border-right: none;
	padding-left: 10px;
	position: relative;
	padding-top: 10px;
 	}

.top_1r ul li i{
	margin-right:5px;
	font-size:13px; 
	}

.top_1l .nav .dropdown-menu>.active1>a{
	color: #3665f3!important;
}


.mgt li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
	}

.mgt .sub-menu {
	position: absolute;
	text-align: left;
	list-style: none;
	width: auto;
	left: 0;
	top: 100%;
	padding: 20px 0 5px 0;
	visibility: hidden;
	opacity: 0;
	top: 30px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;

	border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
	}

.mgt .sub-menu li {
	display: block;
}

.mgt .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 20px;
}

.mgt .sub-menu li a:hover {
	color: #3665f3;
}

/*********************top_end****************/

/*********************header****************/
#header{
padding-top: 12px;
background-color: #fff;
border: 1px 0px solid #ddd;
 }
.header_1m{
margin-left:auto;
margin-right:auto; 
 }
.header_1l h3 {
margin-top:6px;
 }
.header_1l h3 a{
color:#FF5C00; 
 }
.header_1l h4 a{
	color:#3665f3; 
}
.header_1m .form-control{
 height: 33px;
 font-size:14px;
 border-color:#eee;
 box-shadow:none;
 }
.header_1m .form_1{
width:180px;
border-radius: 5px 0px 0px 5px;
float:left;
 }
.header_1m .input-group{
width:470px;
border-radius: 5px 0px 0px 5px;
 }
.header_1m .form_2{
	border-radius:0;
	border-left:none;
	border-right:none;
 }
.header_1m .input-group .btn_search{
	background:#3665f3;
	margin-left:0!important;
	font-size:13px;
	height: 33px;
	color: #fff;
	border: 1px solid #3665f3;
 }

 .header_1m .input-group .btn_search:hover{
	background: #3665f3;	 
	border: 1px solid #3665f3;
	color: #fff;
 }
.header_1m ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1; /* Firefox */
}
.header_1r .tag_m1{
padding-top:10px!important;
padding-bottom:10px!important;
 }
.header_1r .tag_m1 i{
	font-size: 20px;
}
.header_1r .tag_m1:hover{
background:none;
 } 
.header_1r .tag_m1:focus{
background:none!important;
 } 
.drop_1{
	min-width:320px; 
	left:auto;
	right:0;
	padding:20px 15px;
	margin-top:9px!important;
 }

.drop_1i{
 border-bottom:1px solid #ddd;
 padding-bottom:10px;
 }
.drop_1i1l span i{
display:inline-bloc;
width:30px;
height:30px;
line-height:27px;
border:1px solid #ddd;
text-align:center;
font-size:14px;
margin-top:10px;
cursor:pointer; 
 }
.drop_1i1l span i:hover{
background:#333;
color:#fff;
border-color:#333;
 }
.drop_1i1{
padding-top:10px;
padding-bottom:10px;
border-bottom:1px solid #ddd; 
 }
.drop_1i2{
padding-top:10px;
padding-bottom:10px; 
 }
.drop_1i3 .button{
 display:block;
 }
 .header.is-fixed {
    z-index: 9999;
    position: fixed;
    left: auto;
    top: 0; 
	width:100%;
  }
  .shopping-card {
	display: inline-block;
	position: relative;
}
  .shopping-cart {
	position: absolute;
	top: 0px;
	left: 45%;
	height: 16px;
	min-width: 16px;
	color: #fff;
	font-size: 13px;
	background: #f51167;
	text-align: center;
	border-radius: 30px;
	padding: 0 2px;
	margin-left: -7px;
}


/*********************header_end****************/

/*********************menu****************/
#menu .navbar-brand{
font-size: 28px;
color:#000;
font-weight:bold;
display:none; 
 }
#menu{
background: #fff; 
border-top: 1px solid #ddd;
border-bottom: 1px solid rgb(238, 236, 236);
 }
.m_tag1{
background:#3665f3!important;
color:#3665f3!important;
font-size:20px;
padding:15px 90px 15px 15px!important; 
margin-right:30px;
 }
.drop_2{
min-width:260px; 
border:none;
padding-top:0;
padding-bottom:0;
box-shadow:none;
 }
.drop_2 li a{
padding-top:10px!important;
padding-bottom:10px!important;
border-bottom:1px solid #eee;
border-left: 1px solid #eee;
border-right: 1px solid #eee;
 }
.drop_2 li a:hover{
background:none;
color:#3665f3;
 }
.m_tag{
padding:10px 15px!important; 
color: #000000;
 }
.m_tag:hover{
/* background:#08b0e7!important; */
background: none!important;
color:#3665f3!important;
 }
.m_tag:focus{
background:none!important;
color:#3665f3!important;
 }
.active_tab{
/* background:#3665f3!important; */
color:#000000!important; 
 }
 
.drop_3{
min-width:200px; 
border:none;
padding:15px;
 }
.drop_3 li a{
padding-top:10px!important;
padding-bottom:10px!important;
 }
.drop_3 li a:hover{
color:#3665f3;
width: 100%;
background: none;
 }

.navbar-collapse{
padding-left:0;
padding-right:0; 
 }
 
.cd-secondary-nav {
  position: static;
}
.cd-secondary-nav .is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}
.cd-secondary-nav.is-fixed {
    z-index: 9999;
    position: fixed;
    left: auto;
    top: 0; 
	width:100%;
  }


/*********************menu_end****************/

/*********************footer****************/
#footer{
padding-top:40px;
padding-bottom:45px;
background: #333; 
 }

/* footer social icons */
ul.social-network {
	list-style: none;
	display: block;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline-block;
	margin: 0 1px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:16px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #333;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.footer_1i2 ul.social-network li a {
background: #fbf2e8; 
}
.footer_1i1 ul li{
margin-bottom:10px; 
 }
.footer_1i1 ul li a{
color:#fff;
 }
.footer_1i1 ul li a:hover{
 color:#3665f3;
 }
.footer_1i1 h4{
color:#fff;
margin-top:7px!important;
 }
.footer_1i2 h4{
color:#fff;
margin-top:7px!important;
 }
.footer_1i2 p{
color:#fff;
 }
.footer_1i p{
color:#fff;
 }
.footer_1i h3 a{
color:#fff;
 }
.footer_1i1 ul {
margin-top:22px; 
 }
.footer_1i2 p {
margin-top:20px;
font-size:16px; 
 }
#footer_last{
padding-top:10px;
padding-bottom:12px; 
 }
/*********************footer_end****************/

/*********************enquiry****************/
#enquiry{
 padding-top:60px;
 padding-bottom:60px;
 background:#fbf2e8; 
 }
.enquiry_1 .input-group {
 width:50%;
 margin-left:auto;
 margin-right:auto;
 margin-top:20px;
 }
.enquiry_1 .input-group .form-control {
border-radius: 30px 0 0 30px;
height:55px;
font-size:16px;
box-shadow:none;
border-right:none;
border-color:#eee;
 }
.enquiry_1 .input-group .btn {
margin-left:0!important;
background:#3665f3;
border-color:#3665f3;
padding: 15.4px 30px;
font-size:13px;
border-radius: 0 30px 30px 0;
 }
.enquiry_1 .input-group .btn:hover {
 background:#333;
 border-color:#333;
 }
/*********************enquiry_end****************/

/*********************center_shop****************/
.center_shop{
padding-top:20px;
padding-bottom:20px; 
background: #fbf2e8;
 }
.center_shop_1 h5 a i{
margin-left:5px; 
 }
.center_shop_1 h5 a {
margin-right:10px; 
 }
/*********************center_shop_end****************/

/*********************shipping****************/
#shipping{
padding-top:60px;
padding-bottom:50px; 
 }
.shipping_1i span i{
font-size:46px;
float:left;
margin-right:20px;
 }
/*********************shipping_end****************/
@media screen and (max-width : 767px){
.space_left{
padding-left:15px; 
} 
.space_right{
padding-right:15px; 
} 
.space_all{
padding-left:15px;
padding-right:15px;
} 
.navbar-collapse{
box-shadow:none; 
max-height:none; 
  }
.navbar .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}
.navbar-toggle{
 background:#3665f3;
 margin-top:9px;
 border:none;
 border-radius:0; 
  }
.navbar-toggle:hover{
 background:#3665f3!important; 
  }
.navbar-toggle:focus{
 background:#3665f3!important; 
  }
.navbar-toggle .icon-bar{
 background:#fff!important; 
  }
.navbar {
 position:static;
 text-align:center;
 width:100%;
  }
.cd-secondary-nav.is-fixed {
  position: static;
}
.dropdown-menu{
background:#fff!important; 
border: none;
 }
#top{
display:none; 
 }
#header{
display:none; 
 }
#menu .navbar-brand{
display:block; 
color:#fff;
 }
.m_tag1{
margin-right:0;
padding: 22px 22px!important;
margin-bottom:10px;
font-size:26px;
 }
.m_tag{
font-size:28px;
border-bottom:1px solid #545252;
 }
.dropdown-menu a{
font-size:20px;
 }
.enquiry_1 .input-group{
width:100%; 
 }
.center_shop {
text-align:center;
 }
#footer{
text-align:center; 
 }
.footer_1i1{
margin-top:10px; 
 }
.footer_1i1 ul li{
display:inline-block;
margin-left:2px;
margin-right:2px; 
 }
.workout_1_in2 .pull-right{
float:none!important;
 }
.workout_1_in2 ul{
margin-top:10px!important;
 }
.workout_1_inner {
margin-bottom:15px; 
 }
.product_1_last ul li{
margin-bottom:8px!important; 
 }
.shipping_1{
display:flex;
flex-wrap: wrap;
 }
.shipping_1i{
margin:10px;
 }
.navbar-collapse{
padding-left:15px;
padding-right:15px; 
 }
}
@media (min-width:768px) and (max-width:991px) {
.top_1l h5{
font-size:13px; 
 }
.top_1r ul li{
font-size:13px;
margin-top:2px;
margin-bottom:2px; 
 }
.header_1l h3 a{
font-size:24px; 
 }
.header_1m .input-group{
width:70%; 
 }
.header_1m .form_1{
width:30%; 
 }
.m_tag1 {
    padding: 20px 20px 20px 20px!important;
    margin-right: 10px;
}
.m_tag {
    padding: 22px 14px!important;
}
.shipping_1i h5{
font-size:15px; 
 }
ul.social-network li{
margin-bottom:5px; 
 }
.workout_1_in1 img{
min-height:360px; 
 }
.workout_1_in2 ul li{
 padding-left:0!important;
 padding-right:0!important;
 }
.product_1l h4{
font-size:16px; 
 }
 }
 
@media (min-width:992px) and (max-width:1200px) {
.top_1l h5{
font-size:13px; 
 }
.top_1r ul li{
font-size:13px;
padding-left:5px;
padding-right:5px;
 }
.header_1m .input-group{
width:70%; 
 }
.header_1m .form_1{
width:30%; 
 }
.workout_1_in1 img{
min-height:360px; 
 }
.workout_1_in2 ul li{
 padding-left:0!important;
 padding-right:0!important;
 }
ul.social-network li{
margin-bottom:5px; 
 }
  }
@media (min-width:1201px) and (max-width:1350px) {

 }

 .btn-default{
	padding: 9px;
  }

