/*
Template Name: Shop On
File: Layout CSS
Author: TemplatesOnWeb
Author URI: https://www.templateonweb.com/
Licence: <a href="https://www.templateonweb.com/license">Website Template Licence</a>
*/
/*********************checkout****************/
#login{
    padding-top:40px;
    padding-bottom:40px; 
     }
    .login_1l1 .form-control{
     background:#f4f4f4;
     border: 1px solid #ddd;
     box-shadow:none;
     height:33px;
     margin-top:15px;
     border-radius:0;
     font-size:14x;
     }

     .btn-login{
         font-size: 14px;
         background-color: #3665f3;
         border: 1px;
         width: 100%;
         height: 33px;
         color: #fff;
     }
     .login_1l1 .form-control:hover{
        border: 1px solid #3665f3;
        border-style: double;
        }
     .login_1c{
        border: 1px solid #ddd;
        padding-top:30px;
        padding-bottom:10px;
         }
    .login_1r .hr_1 {
        border-color: #3665f3;
        width: 15%;
        border-width: 2px;
        margin-left: 0;
    }
    .login_1r p span {
    margin-left:5px;
    }
    .login_1r .button {
    display:block;
    text-align:center;
    }
    .login_1r{
    border:1px solid #eee;
    padding:25px 15px 30px 15px; 
     }

     .space_left_currency label {
         margin-right: 15px;
     }
    /*********************checkout_end****************/
    
    @media screen and (max-width : 767px){
    #login{
    text-align:center;  
     }
    .login_1r {
    margin-top:15px; 
     }
    .login_1r .hr_1{
    margin-left:auto; 
     }
    .login_1r h5{
    text-align:left;
     }
    }
    
    @media (min-width:768px) and (max-width:991px) {
    
     }
    @media (min-width:992px) and (max-width:1200px) {
    
     }
    @media (min-width:1201px) and (max-width:1350px) {
    
     }
    
    
    
    
    