
.container_body{
    margin: 0 20px 0 20px;
}
.centent_card{
    margin: 0 0 20px 0;
}

.centent_card_1l,
.centent_card_1r {
    margin-left: 10px;
}

p, span {
    font-family: Roboto,Helvetica,Tahoma,Arial,Microsoft YaHei;
}
.centent_card_1l, .centent_card_1r {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}

.centent_card_1l {
    width: 100%;
}

.centent_card_1r{
    width: 100%;
}

.centent_card_1li ul {
    margin-bottom: 30px;
    height: 500px;
    overflow: auto;
}

.centent_card_1li ul li {
    font-weight: lighter;
    font-size: 15px;
}

.centent_card_1li ul li {
    color: #000!important;
}

.centent_card_1li ul li a{
    margin: 0 0 0 30px;
    color: #000!important;
    padding-bottom: 10px;
    padding-top: 15px;
    display: block;
}

.new_order{
	color: #fff;
	font-size: 12px;
	background: #f51167;
	text-align: center;
	border-radius: 30px;
	padding: 0 2px;
}

.new_order1{
	color: #f51167;
	font-size: 12px;
}

.centent_card_1li ul li .active {
    /* color: #3665f3!important; */
    /* background: #f2f2f2f2; */
    
}

.centent_card_1li ul li a:hover {
	color: #3665f3!important;
    /* background: #f2f2f2f2; */
}

.title_header{
    margin-bottom: 20px;
}

.centent_card_1r3 p{
    margin-left: 30px;
    color: #333;
}

.centent_card_1r3 .addproduct{
    text-align: left;
    margin-left: 30px;
}

.centent_card_1r3 .card-content .align-items-center{
    margin: 0 10px;
}
.card-content{
    margin: 5px 15px 15px 15px;
    color: #666;
    font-size: 14px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
}
.tab-content{
    /* border-bottom: 1px solid #ddd; */
}

#sku_combination{
    margin-left: 25px;
    margin-right: 15px;
}
.card-content .form-group{
    margin-bottom: 12px;
}

.card-content .table thead tr th{
    text-align: center;
}

.card-content .field label,
.card-content .field p,
.card-content .field select,
 .card-content .field input{
    color: #666;
    font-weight: lighter;
    font-size: 14px;
}

.profile{
    margin-top: 20px;
}
.profile img{
   margin-right: 10px;
}

.profile .profile_1{
    text-align: left;
    margin-left: 40px;
}

.centent_card_1r {
    margin-bottom: 15px;
}

.field {
    margin-top: 15px;
}
/* button css */
.btn-save{
    font-size: 14px;
    background-color: #3665f3;
    border: 1px;
    height: 40px;
    color: #fff;
    text-align: center;
    
}

.btn-search{
    background:#3665f3;
	height: 34px;
	color: #fff;
    border-radius: 4px;
}

.btn-search:hover{
	color: #fff;
}

.input-group{
    margin-left: 20px;
    margin-bottom: 15px;
}
.date{
    margin-right: 15px;
}
.button_2 {
    background:#3665f3;
    display:inline-block;
    padding:8px;
    height: 33px;
    text-align: center;
    border-radius: 4px;
    color: #ffff;
      }
      .button_2:hover{
        color: #fff;
    }
.address {
    border: 1px solid #999;
    margin: 15px 15px 15px 30px;
    padding: 0 15px 15px 0;
    border-radius: 5px;
}

.add_address {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

.card-header{
    border: 1px solid #ddd;
    padding: 0 15px 15px 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card-body{
    border: 1px solid #ddd;
    padding: 0 15px 15px 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shipping_address span {
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
}

.delivery {
    text-align: center;
    margin: 30px 0;
}

.delivery .active{
    color: #3665f3;
}
.delivery .done{
    color: green;
} 

.status{
    margin: 30px 0;
}


.image-preview{
    margin-top: 8px;
}

.image-preview img{
    border: 1px solid #ddd;
    margin-right: 5px;
    padding: 5px;
}

.profile_1 p span {
    border: 1px solid #ddd;
    padding: 3px 5px;
}


/* code dashboar */

.bg-grad-3 {
    background-color: #47c5f4;
    background-image: linear-gradient(
    315deg, #47c5f4 0%, #6791d9 74%);
}
.text-white {
    color: #fff!important;
}
.mb-4, .my-4 {
    margin-bottom: 2.9rem!important;
}
.px-3{
    margin: 10px;
    padding:0.1px;
}

.py-3{
    padding: 10px 0;
}

.h4 a {
    color: white;
}

.bg-grad-1 {
    background-color:#3665f3;
    background-image: linear-gradient(
315deg, #6495ED 0%,#3665f3 74%);
}
/* h4 {
    color: #fff!important;
} */

.bg-grad-2 {
    background-color:#11AD0C;
    background-image: linear-gradient(
315deg, #6495ED 0%,#64CBF2 74%);
}




.rows {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}
.card {
    font-family: 'Lao Sans Pro', sans-serif, Arial !important;
    font-weight: 200;
}
.card {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.card {
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #1b1b28;
    background-color: #fff;
    max-width: 100 vw;
    overflow-x: hidden;
}
.card{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.rounded-lg {
    border-radius: 1.5;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: 'Lao Sans Pro', sans-serif, Arial !important;
    font-weight: 200;
}
.card {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.card {
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #1b1b28;
    background-color: #fff;
    max-width: 100 vw;
    overflow-x: hidden;
}
.card {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --primary: #3B8BEB;
    --hov-primary: #0E6BDC;
    --soft-primary: rgba(59,139,235,0.15);
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #377dff;
    --hov-primary: #0069d9;
    --soft-primary: rgba(55, 125, 255, 0.15);
    --secondary: #8f97ab;
    --soft-secondary: rgba(143, 151, 171, 0.15);
    --success: #0abb75;
    --soft-success: rgba(10, 187, 117, 0.15);
    --info: #25bcf1;
    --soft-info: rgba(37, 188, 241, 0.15);
    --warning: #ffc519;
    --soft-warning: rgba(255, 197, 25, 0.15);
    --danger: #ef486a;
    --soft-danger: rgba(239, 72, 106, 0.15);
    --light: #f2f3f8;
    --dark: #111723;
    --soft-dark: rgba(42, 50, 66, 0.15);
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
:root {
    --tagify-dd-color-primary: rgb(53,149,246);
    --tagify-dd-bg-color: white;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.tab-content p {
    margin-bottom: 15px;
}
.search{
    margin: 0 0 15px 20px;
}

.btn-default{
	padding: 6px;
}

.btn-order{
    cursor: pointer;
}

.span span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}