/*
Template Name: Shop On
File: Layout CSS
Author: TemplatesOnWeb
Author URI: https://www.templateonweb.com/
Licence: <a href="https://www.templateonweb.com/license">Website Template Licence</a>
*/
/*********************product****************/
#product{
padding-top:40px;
padding-bottom:40px; 
 }
.product_1l h4{
border-bottom:1px solid #eee;
padding-bottom:15px; 
 }
.product_1l{
background: #fbf2e8;
padding:25px 15px 30px 15px; 
 }
.product_1li img{
float:left;
margin-right:20px; 
 }
.product_1li span{
color:#f7941d;
margin-top:10px;
display:block;
 }
.product_1li h5{
line-height:1.3em;
 }
.product_1li{
margin-top:15px;
border-bottom:1px solid #eee;
padding-bottom:15px; 
 }
.product_1l{
margin-top:20px; 
 }
.product_1r h5{
display:inline-block;
margin-right:10px; 
 }
.product_1r .form-control{
display:inline-block; 
width:150px;
border-radius:0;
font-size:16px;
margin-right:20px; 
 }
.product_1r{
background: #fbf2e8;
padding:15px; 
 }
 
.home_inner{
margin-top:30px; 
 }
.workout_1_in2 ul li{
display:inline-block;
padding-left:8px;
padding-right:8px;
font-size:16px; 
 }
.workout_1_in3 .bg  {
    background: #f7941d;
    display: inline-block;
    padding: 5px 15px 7px 15px;
	color:#fff;
	border-radius:20px;
}
.workout_1_in3 .bg1  {
    background:#FF0000;
    display: inline-block;
    padding: 5px 15px 7px 15px;
	color:#fff;
	border-radius:20px;
}
.workout_1_in3 .bg2  {
    background:#6699FF;
    display: inline-block;
    padding: 5px 15px 7px 15px;
	color:#fff;
	border-radius:20px;
}
.workout_1_inner{
position:relative; 
margin-bottom: 30px;
 }
.workout_1_in2{
position:absolute;
display:none;
width:100%;
background:#fff;
padding:10px;
 }
.workout_1_in3{
position:absolute;
top:20px;
right:20px; 
 }
.workout_1_inner:hover .workout_1_in2{
display:block;
bottom:68px;
 }
 
.product_1_last{
margin-top:20px; 
 }
.product_1_last ul li{
 display:inline-block;
 margin: 0 2px;
 width:45px;
 height:45px;
 line-height:45px;
 background:#fbf2e8;
 text-align:center;
 }
.product_1_last ul li a{
display:block;
color: #f7941d;
 }
.product_1_last ul li:hover{
 background: #f7941d;
 }
.product_1_last ul li:hover a{
 color: #fff;
 }
.act{
  background: #f7941d!important;
 }
.act a{
 color: #fff!important;
 }
/*********************product_end****************/


@media screen and (max-width : 767px){
#product{
text-align:center;
 }
#product .product_1li{
text-align:left; 
 }
.product_1r .form-control{
 width:100%;
 margin-top:10px;
 margin-bottom:10px;
 }
.product_1r {
margin-top:15px; 
 }
}

@media (min-width:768px) and (max-width:991px) {

 }
@media (min-width:992px) and (max-width:1200px) {

 }
@media (min-width:1201px) and (max-width:1350px) {

 }




