.card_product{
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 20px;
}
.card-product{
    margin-top: 15px;
}
.card_product-body {
    padding: 15px;
}

.card_product-body .description {
    font-size: 14px;
    padding-bottom: 10px
}

div.h5,
h5 {
    margin: 3px;
    color: #000;
}

.product .fa-star {
    font-size: 0.9rem
}

.rebate {
    font-size: 0.9rem
}

.card img {
    /* width: 152px; */
    padding: 15px;
    height: 92px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.clear {
    clear: both
}

.btn.btn-success {
    visibility: hidden
}

.card_product-body .col_2 {
    color: #2b2b36;
    margin-right: 10px;
    text-decoration: line-through;
}

.card-title{
    margin-top: 15px;
}

.category{
    margin: 15px 15px 0 15px;
}

.body{
    margin-top: 15px;
    font-size: 12px;
}

.modal-body{
    margin-left: 20px;
    margin-right: 15px;
}

.modal-body h5 {
    color: #000;
    font-size: 16px;
}

.pd_n ul li{
    width:30px;
    height:30px;
    border:1px solid #000;
    display:inline-block;
    margin-right:10px;
    cursor:pointer;
    text-align:center;
    line-height:35px;
    font-size:12px;
    }
    .pd_n_1 ul li{
      height:30px;
      border:1px solid #000;
      display:inline-block;
      margin-right:10px;
      cursor:pointer;
      text-align:center;
      line-height:30px;
      font-size:12px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 14px;
    }

    .price{
        margin: 15px 0;
    }
    .pd_n .act{
        border:2px solid #FF5C00;
         }
        .pd_n .act_1{
        border:1px solid #FF5C00;
         }
         .pd_n_1 .act_1{
           border: 1px solid #FF5C00;
            }
.btn-order{
    width: 100px;
    margin: 15px 40px;
}

.table tr td p{
    font-size: 12px;
    margin-top: 4px;
}

.delivery-title{
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}
.delivery{
    border: 1px solid #ddd;
    padding: 10px 5px 15px 5px;
    text-align: left;
}