.card{
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 20px;
}
.card:hover {
transform: scale(1.1);
transition: all 0.5s ease-in-out;
/* cursor: pointer */
}

.card-body {
padding: 15px;
}

.card-body .description {
font-size: 14px;
padding-bottom: 10px
}

div.h5,
h5 {
margin: 3px;
color: #3665f3;
}

.product .fa-star {
font-size: 0.9rem
}

.rebate {
font-size: 0.9rem
}

.btn.btn-primary {
background-color: #48b83e;
color: #fff;
border: 1px solid #008000;
border-radius: 10px;
font-weight: 800
}

.btn.btn-primary:hover {
background-color: #48b83ee8
}

.card img {
width: 192px;
height: 132px;
object-fit: contain;
text-align: center;
padding-top: 15px;
}

.clear {
clear: both
}

.btn.btn-success {
visibility: hidden
}

.card-body .col_2 {
    color: #2b2b36;
    margin-right: 10px;
    text-decoration: line-through;
}

